.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-popup-innner {
  position: relative;
  padding: 32px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
  cursor: pointer;
}
