.header-container {
  height: 70px;
  background-color: #1abc9c;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
}

.header {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.company-name {
  font-size: 28px;
}

.search-container {
  width: 50%;
  background-color: white;
  border-radius: 6px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
}

.nav-options {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.location {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(11, 18, 25, 0.5);
  cursor: pointer;
}

.pin {
  color: #1abc9c;
  font-weight: 700;
  margin-left: 3px;
  margin-top: 4px;
}

.line {
  height: 20px;
  border-style: solid;
  border-right: 0.01rem;
  border-color: rgba(11, 18, 25, 0.5);
}

.search {
  width: 70%;
}

input {
  width: 80%;
  outline: none;
  border: none;
  margin-top: 4px;
  margin-left: 10px;
}
